**Libraries used**

In [30]:
zimport pandas as pd #For handling Database
import numpy as np #Powerful tool for handling multi dimensional arrays

**Loading the Dataset into a Dataframe**

In [31]:
df = pd.read_csv('Weather Dataset.csv') #Reads a comma-separated values (csv) file into a DataFrame.
# Here, 'train.csv' is loaded into a Dataframe named 'df'

**Various ways of creating a Dataframe**

In [32]:
'''#To read .csv file
df = pd.read_csv('Train.csv') 

#To read .xlsx file
df = pd.read_excel('Train.xlsx')

#To read a dictionary
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)'''

"#To read .csv file\ndf = pd.read_csv('Train.csv') \n\n#To read .xlsx file\ndf = pd.read_excel('Train.xlsx')\n\n#To read a dictionary\nweather_data = {\n    'day': ['1/1/2017','1/2/2017','1/3/2017'],\n    'temperature': [32,35,28],\n    'windspeed': [6,7,2],\n    'event': ['Rain', 'Sunny', 'Snow']\n}\ndf = pd.DataFrame(weather_data)"

In [33]:
#Returns no of rows and columns in dataframe
df.shape
#OR
rows, columns = df.shape

In [34]:
#Statistical info about Dataframe
df.describe()

,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars)
count,967.000000,996.000000,998.000000,999.000000,999.000000,999.000000
mean,15.146432,0.731074,10.427054,195.745746,10.937037,1008.888649
std,6.208301,0.174707,6.388621,95.956275,3.388042,64.109697
min,1.000000,0.320000,0.000000,0.000000,0.300000,0.000000
25%,10.600000,0.590000,5.500000,140.000000,10.000000,1010.260000
50%,15.000000,0.750000,9.700000,175.000000,11.100000,1013.110000
75%,18.900000,0.890000,14.100000,283.500000,12.700000,1015.690000
max,32.500000,1.000000,32.200000,359.000000,16.100000,1021.010000

In [35]:
#General info about Dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Dates                   999 non-null    object
 1   Summary                 999 non-null    object
 2   Precip Type             999 non-null    object
 3   Temperature             967 non-null    float64
 4   Humidity                996 non-null    float64
 5   Wind Speed (km/h)       998 non-null    float64
 6   Wind Bearing (degrees)  999 non-null    int64
 7   Visibility (km)         999 non-null    float64
 8   Pressure (millibars)    999 non-null    float64
 9   Daily Summary           999 non-null    object
dtypes: float64(5), int64(1), object(4)
memory usage: 78.2+ KB

In [36]:
df.head()#Display top 5 elements by defaults

df.head(3) #Displays top n elements

,Dates,Summary,Precip Type,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2017-03-03,Partly Cloudy,rain,9.5,0.89,14.1,251,15.8,1015.13,Partly cloudy throughout the day.
1,2017-03-04,Partly Cloudy,rain,9.4,NaN,14.3,259,15.8,1015.63,Partly cloudy throughout the day.
2,2017-03-05,Mostly Cloudy,rain,9.4,0.89,3.9,204,15.0,1015.94,Partly cloudy throughout the day.

In [37]:
df.tail()#Display blast 5 elements by defaults

df.tail(2) #Displays last n elements

,Dates,Summary,Precip Type,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
997,2019-11-25,Partly Cloudy,rain,25.0,0.62,12.7,318,11.3,1009.02,Mostly cloudy throughout the day.
998,2019-11-26,Partly Cloudy,rain,25.9,0.58,10.7,295,11.4,1009.00,Mostly cloudy throughout the day.

In [38]:
df #Prints entire dataset

,Dates,Summary,Precip Type,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2017-03-03,Partly Cloudy,rain,9.5,0.89,14.1,251,15.8,1015.13,Partly cloudy throughout the day.
1,2017-03-04,Partly Cloudy,rain,9.4,NaN,14.3,259,15.8,1015.63,Partly cloudy throughout the day.
2,2017-03-05,Mostly Cloudy,rain,9.4,0.89,3.9,204,15.0,1015.94,Partly cloudy throughout the day.
3,2017-03-06,Partly Cloudy,rain,NaN,0.83,14.1,269,15.8,1016.41,Partly cloudy throughout the day.
4,2017-03-07,Mostly Cloudy,rain,8.8,0.83,NaN,259,15.8,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...
994,2019-11-22,Mostly Cloudy,rain,22.2,0.81,12.8,319,11.2,1009.21,Mostly cloudy throughout the day.
995,2019-11-23,Mostly Cloudy,rain,23.5,0.71,16.2,318,11.4,1009.38,Mostly cloudy throughout the day.
996,2019-11-24,Mostly Cloudy,rain,23.8,NaN,14.3,301,11.3,1009.41,Mostly cloudy throughout the day.
997,2019-11-25,Partly Cloudy,rain,25.0,0.62,12.7,318,11.3,1009.02,Mostly cloudy throughout the day.
998,2019-11-26,Partly Cloudy,rain,25.9,0.58,10.7,295,11.4,1009.00,Mostly cloudy throughout the day.

In [39]:
df.columns #Returns list of column names

Index(['Dates', 'Summary', 'Precip Type', 'Temperature', 'Humidity',
       'Wind Speed (km/h)', 'Wind Bearing (degrees)', 'Visibility (km)',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [40]:
df.Dates #Display the 'Dates' column
#OR
df['Dates']

0      2017-03-03
1      2017-03-04
2      2017-03-05
3      2017-03-06
4      2017-03-07
          ...
994    2019-11-22
995    2019-11-23
996    2019-11-24
997    2019-11-25
998    2019-11-26
Name: Dates, Length: 999, dtype: object

In [41]:
df[['Dates', 'Summary', 'Precip Type']] #Display only the mentioned columns

          Dates        Summary Precip Type
0    2017-03-03  Partly Cloudy        rain
1    2017-03-04  Partly Cloudy        rain
2    2017-03-05  Mostly Cloudy        rain
3    2017-03-06  Partly Cloudy        rain
4    2017-03-07  Mostly Cloudy        rain
..          ...            ...         ...
994  2019-11-22  Mostly Cloudy        rain
995  2019-11-23  Mostly Cloudy        rain
996  2019-11-24  Mostly Cloudy        rain
997  2019-11-25  Partly Cloudy        rain
998  2019-11-26  Partly Cloudy        rain

[999 rows x 3 columns]

In [42]:
df.Temperature.max() # Returns max Temp

df.Temperature.mean() #Return avg Temp

15.146432264736294

**Data Cleaning OR Data Munging**

In [43]:
df.fillna(0, inplace = True)  #replaces EVERY Nan in the dataframe by 0
df.Temperature.mean()

14.661261261261258

**Replace Values**

In [44]:
#Replaces Nan by 0 in Temperature column ONLY
df['Temperature'].replace(to_replace = np.nan, value = 0, inplace = True)

In [45]:
df.Temperature.isnull().sum() # Returns no of null values in temp column

0

In [46]:
df.Temperature.sum() #Returns sum of all values in Temo column

14646.6

In [47]:
df.Summary.count() #Returns no of entries in Summary column

999

In [48]:
df.Summary.unique() #Returns unique elements in Summary column

array(['Partly Cloudy', 'Mostly Cloudy', 'Overcast', 'Foggy',
       'Breezy and Mostly Cloudy', 'Clear'], dtype=object)

In [49]:
df.Summary.value_counts() #returns frequency of every unique element in Summary column

Partly Cloudy               355
Mostly Cloudy               345
Overcast                    166
Clear                        94
Foggy                        37
Breezy and Mostly Cloudy      2
Name: Summary, dtype: int64

In [50]:
df[df.Temperature == df.Temperature.max()] #Gives entire entry with max temp

,Dates,Summary,Precip Type,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
735,2019-03-08,Mostly Cloudy,rain,32.5,0.38,12.6,199,11.3,1008.95,Partly cloudy starting overnight.
953,2019-10-12,Mostly Cloudy,rain,32.5,0.40,12.4,220,10.4,1012.62,Partly cloudy starting overnight continuing un...

In [51]:
df['Dates'][df['Summary'] == 'Mostly Cloudy']  #Prints ONLY dates when Summary is 'Mostly Cloudy'

2      2017-03-05
4      2017-03-07
17     2017-03-20
18     2017-03-21
19     2017-03-22
          ...
989    2019-11-17
991    2019-11-19
994    2019-11-22
995    2019-11-23
996    2019-11-24
Name: Dates, Length: 345, dtype: object

In [52]:
df[['Dates', 'Temperature']][df['Summary'] == 'Mostly Cloudy'] #Prints dates and temperature when Summary is 'Mostly Cloudy'

          Dates  Temperature
2    2017-03-05          9.4
4    2017-03-07          8.8
17   2017-03-20         15.6
18   2017-03-21         14.3
19   2017-03-22         13.1
..          ...          ...
989  2019-11-17         18.9
991  2019-11-19         18.9
994  2019-11-22         22.2
995  2019-11-23         23.5
996  2019-11-24         23.8

[345 rows x 2 columns]

In [53]:
df.set_index('Dates', inplace=True) #Sets Dates as index for Dataframe

In [54]:
df.loc['2017-03-21'] #finds a element with provided index

Summary                                       Mostly Cloudy
Precip Type                                            rain
Temperature                                            14.3
Humidity                                               0.69
Wind Speed (km/h)                                       8.5
Wind Bearing (degrees)                                  163
Visibility (km)                                        11.2
Pressure (millibars)                                1015.82
Daily Summary             Partly cloudy throughout the day.
Name: 2017-03-21, dtype: object

In [55]:
df.reset_index(inplace=True) #resets the index for the dataframe
#NOTE:- While reseting index the current index of the dataframe gets deleted

In [56]:
#df.set_index('Summary', inplace=True)
df.head(1)

,Dates,Summary,Precip Type,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2017-03-03,Partly Cloudy,rain,9.5,0.89,14.1,251,15.8,1015.13,Partly cloudy throughout the day.

**In general index must be *UNIQUE***

In [58]:
df.head()

,Dates,Summary,Precip Type,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2017-03-03,Partly Cloudy,rain,9.5,0.89,14.1,251,15.8,1015.13,Partly cloudy throughout the day.
1,2017-03-04,Partly Cloudy,rain,9.4,0.00,14.3,259,15.8,1015.63,Partly cloudy throughout the day.
2,2017-03-05,Mostly Cloudy,rain,9.4,0.89,3.9,204,15.0,1015.94,Partly cloudy throughout the day.
3,2017-03-06,Partly Cloudy,rain,0.0,0.83,14.1,269,15.8,1016.41,Partly cloudy throughout the day.
4,2017-03-07,Mostly Cloudy,rain,8.8,0.83,0.0,259,15.8,1016.51,Partly cloudy throughout the day.

**Rename a Column**

In [59]:
df.rename(columns = {'Precip Type':'Precipitation'}, inplace = True)

In [60]:
df.head()

,Dates,Summary,Precipitation,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary
0,2017-03-03,Partly Cloudy,rain,9.5,0.89,14.1,251,15.8,1015.13,Partly cloudy throughout the day.
1,2017-03-04,Partly Cloudy,rain,9.4,0.00,14.3,259,15.8,1015.63,Partly cloudy throughout the day.
2,2017-03-05,Mostly Cloudy,rain,9.4,0.89,3.9,204,15.0,1015.94,Partly cloudy throughout the day.
3,2017-03-06,Partly Cloudy,rain,0.0,0.83,14.1,269,15.8,1016.41,Partly cloudy throughout the day.
4,2017-03-07,Mostly Cloudy,rain,8.8,0.83,0.0,259,15.8,1016.51,Partly cloudy throughout the day.

**One Hot Encoding**

In [61]:
dummies = pd.get_dummies(df.Summary) #Create a new Dataframe 'dummies' with vectors representing 'Summary' column

In [62]:
df = pd.concat([df,dummies],axis='columns')  #Merges two dataframe i.e. dummies and df

In [63]:
df = df.drop(['Summary'], axis='columns')  #removes the unwanted Summary coumn
df

,Dates,Precipitation,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Breezy and Mostly Cloudy,Clear,Foggy,Mostly Cloudy,Overcast,Partly Cloudy
0,2017-03-03,rain,9.5,0.89,14.1,251,15.8,1015.13,Partly cloudy throughout the day.,0,0,0,0,0,1
1,2017-03-04,rain,9.4,0.00,14.3,259,15.8,1015.63,Partly cloudy throughout the day.,0,0,0,0,0,1
2,2017-03-05,rain,9.4,0.89,3.9,204,15.0,1015.94,Partly cloudy throughout the day.,0,0,0,1,0,0
3,2017-03-06,rain,0.0,0.83,14.1,269,15.8,1016.41,Partly cloudy throughout the day.,0,0,0,0,0,1
4,2017-03-07,rain,8.8,0.83,0.0,259,15.8,1016.51,Partly cloudy throughout the day.,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,2019-11-22,rain,22.2,0.81,12.8,319,11.2,1009.21,Mostly cloudy throughout the day.,0,0,0,1,0,0
995,2019-11-23,rain,23.5,0.71,16.2,318,11.4,1009.38,Mostly cloudy throughout the day.,0,0,0,1,0,0
996,2019-11-24,rain,23.8,0.00,14.3,301,11.3,1009.41,Mostly cloudy throughout the day.,0,0,0,1,0,0
997,2019-11-25,rain,25.0,0.62,12.7,318,11.3,1009.02,Mostly cloudy throughout the day.,0,0,0,0,0,1
998,2019-11-26,rain,25.9,0.58,10.7,295,11.4,1009.00,Mostly cloudy throughout the day.,0,0,0,0,0,1

**Spliting using Pandas**

In [64]:
df1 = df.copy()

In [65]:
train = df1.sample(frac=0.75, random_state=1)
test = df1.drop(train.index)

In [66]:
train

,Dates,Precipitation,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Breezy and Mostly Cloudy,Clear,Foggy,Mostly Cloudy,Overcast,Partly Cloudy
507,2018-07-23,rain,10.1,0.73,10.9,141,15.8,1009.25,Mostly cloudy until night.,0,0,0,0,0,1
608,2018-11-01,rain,6.9,0.93,9.1,135,5.7,1014.00,Foggy in the morning.,0,1,0,0,0,0
452,2018-05-29,rain,18.3,0.62,6.2,28,10.4,1013.75,Mostly cloudy starting overnight continuing un...,0,0,0,1,0,0
368,2018-03-06,rain,14.5,0.84,1.7,129,9.5,1016.23,Foggy in the morning.,0,0,0,0,0,1
242,2017-10-31,rain,10.4,0.92,3.6,144,2.0,1012.05,Mostly cloudy until night.,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,2017-09-30,rain,15.1,0.61,10.9,310,10.0,1011.50,Partly cloudy throughout the day.,0,0,0,1,0,0
620,2018-11-13,rain,12.9,0.64,11.7,130,10.0,1005.19,Foggy in the morning.,0,0,0,0,1,0
169,2017-08-19,rain,11.7,0.71,11.3,158,15.8,1016.64,Mostly cloudy throughout the day.,0,0,0,0,1,0
591,2018-10-15,rain,12.4,0.70,1.3,173,11.3,1015.24,Mostly cloudy until evening.,0,0,0,1,0,0
968,2019-10-27,rain,23.6,0.74,7.9,243,10.4,1017.88,Partly cloudy starting in the afternoon contin...,0,1,0,0,0,0

In [67]:
test.count()

Dates                       250
Precipitation               250
Temperature                 250
Humidity                    250
Wind Speed (km/h)           250
Wind Bearing (degrees)      250
Visibility (km)             250
Pressure (millibars)        250
Daily Summary               250
Breezy and Mostly Cloudy    250
Clear                       250
Foggy                       250
Mostly Cloudy               250
Overcast                    250
Partly Cloudy               250
dtype: int64

In [68]:
df1.head()

,Dates,Precipitation,Temperature,Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Breezy and Mostly Cloudy,Clear,Foggy,Mostly Cloudy,Overcast,Partly Cloudy
0,2017-03-03,rain,9.5,0.89,14.1,251,15.8,1015.13,Partly cloudy throughout the day.,0,0,0,0,0,1
1,2017-03-04,rain,9.4,0.00,14.3,259,15.8,1015.63,Partly cloudy throughout the day.,0,0,0,0,0,1
2,2017-03-05,rain,9.4,0.89,3.9,204,15.0,1015.94,Partly cloudy throughout the day.,0,0,0,1,0,0
3,2017-03-06,rain,0.0,0.83,14.1,269,15.8,1016.41,Partly cloudy throughout the day.,0,0,0,0,0,1
4,2017-03-07,rain,8.8,0.83,0.0,259,15.8,1016.51,Partly cloudy throughout the day.,0,0,0,1,0,0

In [69]:
X=df1[['Dates', 'Precipitation', 'Temperature', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Pressure (millibars)']]
y=df1[['Clear', 'Foggy', 'Mostly Cloudy',
       'Overcast', 'Partly Cloudy']]

**Spliting using Scikit-Learn**

In [70]:
from sklearn.model_selection  import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
    
#To execute the above command you must import scikit-learn like -> from sklearn.model_selection import train_test_split
#Also create varibles 'X' and 'y'

In [71]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 669 entries, 311 to 102
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Dates                   669 non-null    object
 1   Precipitation           669 non-null    object
 2   Temperature             669 non-null    float64
 3   Humidity                669 non-null    float64
 4   Wind Speed (km/h)       669 non-null    float64
 5   Wind Bearing (degrees)  669 non-null    int64
 6   Visibility (km)         669 non-null    float64
 7   Pressure (millibars)    669 non-null    float64
dtypes: float64(5), int64(1), object(2)
memory usage: 47.0+ KB

In [72]:
X_train.shape,y_train.shape

((669, 8), (669, 5))